<nav [ngClass]="{ 'side-navbar-width': isOpen  }" class="side-navbar position-fixed top-0 start-0 h-100 ps-2"
    style="z-index: 10000000000;">

    <!-- Navigation header -->
    <div class="position-relative top-0 start-0 ps-3">
        <header class="d-flex fw-bold fs-2 justify-content-start align-items-center pt-2">
            <span>Foxy</span>
            <!-- <i class="far fa-circle align-self-center fs-1"></i> -->
        </header>
    </div>

    <!-- Navigation body -->
    <section class="nav-body">
        <!-- Top Blur in navigation -->
        <div class="bottom-fade position-sticky"></div>

        <!-- Navigation list -->
        <ul class="nav-list p-0 ms-2 me-0 mb-0 mt-3 me-3">

            <li class="mt-1 mb-1 cursor-pointer" *ngFor="let item of menuItems">

                <ng-container *ngIf="item.items != null;else routeItem">
                    <div class="d-flex justify-content-between" (click)="toggleItem(item)"
                        [ngClass]="{ 'active' : (item.Selected && !item.isChildEmpty()), 'active-selected' : (item.Selected && item.isChildEmpty()), 'open': item.Selected , 'active-medium-white': !item.Selected && item.isChildSelected() }">

                        <div [ngClass]="{ 'nav-item-color': !item.Selected && item.isChildSelected() }"
                            class="d-flex align-items-center">
                            <!--this is an anchor tag-->
                            <span class="me-2 color-inherit">
                                <i class="color-inherit" [ngClass]="[item.icon]"></i>
                            </span>
                            <span class="color-inherit">{{item.name}}</span>
                        </div>

                        <!-- right arrow icon -->
                        <i class="fas fa-chevron-right align-self-center" *ngIf="!item.isChildEmpty()"
                            style="font-size: 0.8em;"></i>
                    </div>

                </ng-container>

                <ng-template #routeItem>
                    <!-- [routerLink]="item.route" -->
                    <div class="d-flex justify-content-between" (click)="toggleItem(item); routeLink(item.route)"
                        [ngClass]="{ 'active-black' : (item.Selected && !item.isChildEmpty()), 'active-selected' : (item.Selected && item.isChildEmpty()), 'open': item.Selected , 'active-medium-white': !item.Selected && item.isChildSelected() }">

                        <div class="d-flex align-items-center">
                            <!--this is an anchor tag-->
                            <span class="me-2">
                                <i [ngClass]="[item.icon]"></i>
                            </span>
                            <span>{{item.name}}</span>
                        </div>

                        <!-- right arrow icon -->
                        <i class="fas fa-chevron-right align-self-center" *ngIf="!item.isChildEmpty()"
                            style="font-size: 0.8em;"></i>
                    </div>

                </ng-template>



                <!-- child navigation list -->
                <ul class="sub-menu d-flex flex-column mt-1" *ngIf="!item.isChildEmpty()"
                    [@openClose]=" item.Selected ? 'open' : 'closed' ">
                    <li *ngFor="let subItem of item.items" class="ps-2 pe-2">
                        <!-- [routerLink]="subItem.route" -->
                        <div class="d-flex justify-content-between"
                            (click)="toggleItem(subItem); routeLink(subItem.route)"
                            [ngClass]="{ 'active-black' : (subItem.Selected && !subItem.isChildEmpty()), 'active-selected' : (subItem.Selected && subItem.isChildEmpty()), 'open': subItem.Selected  }">
                            <div class="d-flex align-items-center">
                                <!--this is an anchor tag-->
                                <i class="me-3" [ngClass]="[subItem.icon]" style="font-size: 0.8em;"></i>
                                <span>{{subItem.name}}</span>
                            </div>
                            <!-- right arrow icon -->
                            <i class="fas fa-chevron-right align-self-center"
                                *ngIf="(subItem.items != null && subItem.items.length > 0)"
                                style="font-size: 0.8em;"></i>
                        </div>
                    </li>
                </ul>

            </li>

        </ul>
    </section>

</nav>