#app {
    min-height: 100vh;
    background-color: var(--color-mirage);
    color: white;
    font-family: 'Montserrat',Helvetica,Arial,serif;
}

#app-header {
    /* padding-top:  */
    position: fixed;
    width: calc( 100% - (var(--side-bar-width) + 2 * var(--admin-spacing-offset))  );
    left: calc( var(--side-bar-width) + var(--admin-spacing-offset) );
    right: var(--admin-spacing-offset);
    margin-top: 1em;

    z-index: var(--z-index-highest)

    /* max-height: var(--admin-header-height); */
    /* margin-left: calc( var(--side-bar-width) + 20px ); */
    /* margin-top: 20px; */
    /* margin-right: 20px; */
}

#app-body {
    margin-left: calc( var(--side-bar-width) + var(--admin-spacing-offset) + 1px );
    margin-right: var(--admin-spacing-offset);  
    margin-top: calc( var(--admin-header-height) + var(--admin-spacing-offset) );
    /* calc( var(--side-bar-width) + 20px ); */
}

.header-navbar-shadow {
    /* background: -webkit-gradient(linear,left top,left bottom,color-stop(44%,hsla(0,0%,97.3%,.95)),color-stop(73%,hsla(0,0%,97.3%,.46)),to(hsla(0,0%,100%,0))); */
    background: linear-gradient(
180deg
,rgba(22,29,49,.9) 44%,rgba(22,29,49,.43) 73%,rgba(22,29,49,0));
    left: 0;
}

.navbar-floating .header-navbar-shadow {
    padding-top: 2.2rem;
    background-repeat: repeat;
}

.header-navbar-shadow {
    display: block;
    width: 100%;
    height: 66px;
    position: fixed;
    top: 0;
    z-index: var(--z-index-low);
}