/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat.woff2');
    font-style: normal;
}

:root {
    --side-bar-width: 260px;

    /*z-index values*/
  --z-index-highest: 1000000000;
  --z-index-high: 1000000;
  --z-index-moderate: 100000;
  --z-index-medium: 10000;
  --z-index-low: -1000;
  --z-index-lowest: -10000;

  /* --theme-color-background: #161d31;
  --color-ebony-clay: #283046; */
  --layout-animation-speed: 200ms;   
  --admin-sidenav-header-height: 60px;
  --admin-header-height: 60px; 

  --admin-spacing-offset: 1.8em;

  --props-color-2: #7367f0;
}


.dark-layout {
    --font-color: #fff;
    --theme-color-background: #161d31;
    --color-ebony-clay: #283046;
    --props-color: #404656;
    --color-surface-hoverd: #161d31;
}


.light-layout {
    ---font-color: #484a55;
    --theme-color-background: #f8f8f8;
    --color-ebony-clay: #fff;
    --props-color: #ebe9f1;
    --color-surface-hoverd: rgba(246, 246, 247, 1);
}


*, body, html, ul, li {
    margin: 0px;
    padding: 0px;
    color: var(--font-color);
}

.cursor-pointer {
    cursor: pointer;
}

.color-inherit {
    color: inherit;
}

.dark-layout .bottom-fade {
    --fade-shadow: 0 5px 5px rgb(40 48 70);
}

.light-layout .bottom-fade {
    --fade-shadow: 0 5px 5px #fff;
}

.bottom-fade {
    z-index: var(--z-index-high);
    display: block;
    width: 100%;
    height: 10px;
    top: 0px;
    box-shadow: var(--fade-shadow);
    background-color: var(--color-ebony-clay);
    /* transform: rotate(180deg); */
}

.wrapper-box {
    background-color: var( --color-ebony-clay );
    padding: 20px 1.5rem 20px 1.5rem;
}

.wrapper-box-rounded {
    border-radius: 10px;
}

.wrapper-box-rounded-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrapper-box-rounded-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wrapper-box-border-top {
    border-top: 1px solid;
    border-top-color: var(--props-color);
}

.wrapper-box-border-bottom {
    border-bottom: 1px solid;
    border-bottom-color: var(--props-color);
}


.box-shadow {
    box-shadow: 0 .125rem .25rem var(--props-color) !important;
}

/* Admin App input */
.dark-layout input, .dark-layout input:focus, .dark-layout select, .dark-layout input::placeholder,
.light-layout input, .light-layout input:focus, .light-layout select, .light-layout input::placeholder { 
    color: inherit;
    background-color: var(--color-ebony-clay);
    border-color: var(--props-color);
}

.dark-layout input::placeholder,
.light-layout input::placeholder {
    opacity: 0.7;
}

.dark-layout input[type=checkbox],
.light-layout input[type=checkbox]{
    font-size: 1.2rem;
    border: 1px solid inherit;
}

.dark-layout input[type=checkbox]:checked,
.light-layout input[type=checkbox]:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* ng-2 select custom style  */
.dark-layout .ng-select-container, .dark-layout .ng-dropdown-panel-items .ng-option,
.light-layout .ng-select-container, .light-layout .ng-dropdown-panel-items .ng-option {
    color: #FFF !important;
    background-color: var(--color-ebony-clay) !important;
    border-color: #404656 !important;
}

.dark-layout .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.light-layout .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: #4e45532d !important;
}

.dark-layout .ng-select-container .ng-value,
.light-layout .ng-select-container .ng-value {
    color: #000 !important;
}

.dark-layout .ng-select-single .ng-select-container .ng-value,
.light-layout .ng-select-single .ng-select-container .ng-value {
    color: #FFF !important;
}





 /* style for scrollbar */

 .scroll-bar::-webkit-scrollbar-track
 {
    border-radius: 6px;
    background-color: var(--color-ebony-clay);
    /* transition: all 200ms ease; */
 }
 
 .scroll-bar::-webkit-scrollbar
 {
     width: 5px;
     /* transition: all 200ms ease; */
     cursor: pointer;
 }
 
 .scroll-bar::-webkit-scrollbar-thumb
 {
     border-radius: 6px;
     background-color: #b4b7bd88;
     /* transition: all 200ms ease; */
     cursor: pointer;
 }

.scroll-bar::-webkit-scrollbar:hover {
     width: 10px;
}



/* css styles for dropdown menu */
.menu-dropdown ul { 
    width: 140px;
    max-width: 200px;
    /* width: 100px; */
    overflow-x: auto;
    background-color: var(--color-ebony-clay);
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 .125rem .25rem var(--props-color) !important;
    padding: 10px;
    display: inline-block;
}

.menu-dropdown ul li {
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.menu-dropdown ul li:hover {
    background-color: var(--color-surface-hoverd);
}

/* table styles. */
.table>:not(caption)>*>*{
    border-bottom: 0.1rem solid var(--props-color);
    vertical-align: middle;
}

.table tr th {
    padding: 1rem 1rem;
}

.table tr td {
    padding: 1.3rem 1rem;
}

.table tbody .selected, .table tbody tr:hover {
    background-color: var(--color-surface-hoverd);
}

/* ul and li */
.wrapper-box ul li{
    overflow: hidden;
}
.wrapper-box  ul li .selected::before {
    content: '';
    width: 100%; 
    background-color: var(--props-color-2);
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 0.25rem;
    z-index: 5;
}

.wrapper-box  ul li span::after {
    content: '';
    width: 100%; 
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 0.25rem;
    z-index: 2;
    transition: all 0.2s;
    width: 0;
}

.wrapper-box ul li:hover span::after {
    width: 100%;   
}

@media only screen and (max-width: 1200px) {
    .side-navbar-width {
        left: 0 !important;
    }
}